spring:
  application:
    name: BankAccount

  datasource:
    url: jdbc:postgresql://localhost:5432/wallet_db?TimeZone=UTC    # ← ADD ?TimeZone=UTC
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC                                             # ← ADD THIS TOO

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

server:
  port: 8080

logging:
  level:
    root: INFO
    com.BankingSystem: DEBUG
    org.hibernate.SQL: DEBUG